{% extends "home/base.html" %}
{% load static %}

{% block content %}

<!-- Internal CSS for better visibility and fraction styling -->
<style>
    .fraction {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
    
    .fraction .numerator {
        display: block;
        font-size: 0.9em;
        border-bottom: 1px solid #333;
    }
    
    .fraction .denominator {
        display: block;
        font-size: 0.9em;
    }

    .lesson-content {
        color: black;
        font-size: 18px;
    }

    .lesson-title {
        color: #0056b3;
        font-weight: bold;
        text-align: center;
    }

    .list-group-item {
        background-color: #f8f9fa;
        border: none;
        padding: 15px;
        font-size: 16px;
        color:black;
        font-weight:bold;
    }

    p{
        color:black;
        font-weight:bold;
    }

    *, li{
        color:black;
        font-weight:bold;
    }
</style>

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center pt-5">Simplifying Fractions</h2>
    <div class="image-placeholder mt-2" style="text-align: center;">
        <img src="{% static 'images/topics/simplifying_fractions.jpg' %}" alt="Simplifying Fractions Image" class="img-fluid img-thumbnail" style="max-width: 300px; height: auto;">
    </div>
</header>

<section class="lesson-content section-padding pb-0 pt-0" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="lesson-intro ">
                    <h3 class="lesson-title pb-3">What is Simplifying Fractions?</h3>
                    <p class="lesson-text">
                        Simplifying fractions means reducing a fraction to its simplest form, where the numerator and denominator have no common factors other than 1. A fraction is in its simplest form when it cannot be reduced any further without changing its value.
                    </p>
                </div>

                <div class="image-placeholder" style="text-align: center; margin: 20px 0;">
                    <img src="{% static 'images/topics/simplifying_fractions_2.jpg' %}" alt="Fraction Example Image" class="img-fluid"  style="max-width: 300px; height: auto;">
                </div>

                <div class="lesson-steps mt-5">
                    <h3 class="lesson-title mb-4">Steps to Simplify Fractions Using the Greatest Common Factor (GCF)</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h6>Step 1: Identify the Fraction.</h6> Start with the fraction you want to simplify, noting the numerator (the top number) and the denominator (the bottom number).
                        </li><br>
                        <li class="list-group-item">
                            <h6>Step 2: Find the Greatest Common Factor (GCF).</h6> The GCF is the largest positive number that divides two or more integers without leaving a remainder. Here’s how you find it: 
                            <ul><br>
                                <li>
                                   
                                        <strong>   
                                           
                                            <h6>List the Factors</h6> 
                                            Determine all factors of both the numerator and denominator.
                                        </strong> 
                                </li>
                                <br>
                                <li>
                                    <strong> <h6>Identify Common Factors:  </h6>
                                       Find the factors that are common to both the numerator and denominator.</strong> 
                                </li><br>
                                <li><strong><h6>Determine the GCF:</h6>  Select the largest number from the common factors list. This is your GCF.</strong></li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <h6>Step 3: Divide by the GCF.</h6> Divide both the numerator and denominator by the GCF to simplify the fraction.
                        </li>
                    </ul>
                </div>

                <div class="lesson-examples mt-4">
                    <h3 class="lesson-title">Example 1:</h3>
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>Simplify the fraction <span class="fraction"><span class="numerator">24</span><span class="denominator">36</span></span>:</p>
                            <ul>
                                <li><strong>Step 1: Identify the Fraction: The numerator is 24, and the denominator is 36.</strong></li><br>
                                <li><strong>Step 2: Find the GCF:
                                    <ul class="font-weight-bold">
                                        <li><strong>Factors of 24: 1, 2, 3, 4, 6, 8, <span class="text-primary font-weight-bold">12</span>, 24</strong></li>
                                        <li><strong>Factors of 36: 1, 2, 3, 4, 6, 9, <span class="text-primary font-weight-bold">12</span>, 18, 36</strong></li>
                                        <li><strong>Common Factors: 1, 2, 3, 4, 6, <span class="text-primary font-weight-bold">12</span></strong></li>
                                        <li><p style="color: #1e90ff; font-size: 1.25em;"><strong>The GCF is 12.</strong></p></li>
                                    </ul>
                                </li><br>
                                <li><strong>Step 3: Divide by the GCF: Divide both 24 and 36 by 12:</strong> <br>
                                    <p style="color: #28a745; font-size: 1.25em;">
                                        <strong>
                                            <span class="fraction">
                                                <span class="numerator">24 ÷ 12</span><span class="denominator">36 ÷ 12</span>
                                            </span>
                                            = <span class="fraction"><span class="numerator">2</span><span class="denominator">3</span></span>
                                        </strong>
                                    </p>
                                    <p style="font-size: 1.15em;"><strong>The simplified version of the fraction is <span class="fraction"><span class="numerator">2</span><span class="denominator">3</span></span>.</strong></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="lesson-examples mt-4">
                    <h3 class="lesson-title">Example 2:</h3>
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>Simplify the fraction <span class="fraction"><span class="numerator">50</span><span class="denominator">75</span></span>:</p>
                            <ul>
                                <li><strong>Step 1: Identify the Fraction: The numerator is 50, and the denominator is 75.</strong></li><br>
                                <li><strong>Step 2: Find the GCF:
                                    <ul class="font-weight-bold">
                                        <li><strong>Factors of 50: 1, 2, 5, 10, <span class="text-primary font-weight-bold">25</span>, 50</strong></li>
                                        <li><strong>Factors of 75: 1, 3, 5, 15, <span class="text-primary font-weight-bold">25</span>, 75</strong></li>
                                        <li><strong>Common Factors: 1, 5, <span class="text-primary font-weight-bold">25</span></strong></li>
                                        <li><p style="color: #1e90ff; font-size: 1.25em;"><strong>The GCF is 25.</strong></p></li>
                                    </ul>
                                </li><br>
                                <li><strong>Step 3: Divide by the GCF: Divide both 50 and 75 by 25:</strong> <br>
                                    <p style="color: #28a745; font-size: 1.25em;">
                                        <strong>
                                            <span class="fraction">
                                                <span class="numerator">50 ÷ 25</span><span class="denominator">75 ÷ 25</span>
                                            </span>
                                            = <span class="fraction"><span class="numerator">2</span><span class="denominator">3</span></span>
                                        </strong>
                                    </p>
                                    <p style="font-size: 1.15em;"><strong>The simplified version of the fraction is <span class="fraction"><span class="numerator">2</span><span class="denominator">3</span></span>.</strong></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                
                

                <div class="lesson-note mt-4">
                    <h3 class="lesson-title">Remember:</h3>
                    <p>Always ensure that the fraction is fully simplified, and there are no common factors between the numerator and the denominator other than 1. This will ensure that the fraction is in its simplest form.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container mt-5 text-white">
    <div class="d-flex justify-content-between align-items-center ">
        <!-- Previous Lesson Button -->
        <a href="{% url 'lesson_detail' 'mixed_and_improper_fractions' %}" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle mb-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
              </svg>
            Previous Lesson
        </a>
        
        <!-- Play Game Button (Centered) -->
        <a href="{% url 'game_detail' 5 %}" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-joystick mb-1" viewBox="0 0 16 16">
            <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2"/>
            <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23"/>
          </svg>
          Play Game About This Topic</a>
        
        <!-- Next Lesson Button -->
        <a href="{% url 'lesson_detail' 'adding_subtracting_fractions' %}" class="btn btn-primary ">
            
            Next Lesson
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle mb-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
              </svg>
        </a>
    </div>
</div>

{% endblock content %}
