{% extends "home/base.html" %}

{% block content %}
<style>
    .small-quiz-image {
        max-width: 300px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
    }    
</style>
<div class="decrease">
    <header class="site-header d-flex flex-column justify-content-center align-items-center">
        <div class="container " style="margin-top: 150px">
            <div class="title text-center">
                <h3 class="text-white font-weight-bold">{{quiz.title}}</h3>
                <p  class="text-white font-weight-bold">{{ quiz.description }}</p>
            </div>
            <div class="text-center mb-4">
                <img src="{{ quiz.picture.url }}" alt="Quiz Image" class="img-fluid small-quiz-image">
            </div>
        
            <div class="text-center mt-4">
                <a href="{% url 'quiz_attempt' quiz.id %}" class="btn btn-primary">Attempt Quiz</a>
            </div>
        </div>
    </header>
</div>


{% endblock %}
