{% extends "home/base.html" %}
{% load static %}

{% block content %}



<main>
    <section class="hero-section">
        <div class="container">
            <div class="row">
    
                <div class="col-lg-12 col-12">
                    <div class="text-center mb-5 pb-2">
                        <h1 class="text-white">FRACTION-matiks</h1>
    
                        <p class="text-white">Your All-In-One Fraction App</p>
    
                        
                        <a href="{% url "lessons_list" %}" class="btn custom-btn smoothscroll mt-3 text-light mx-2" >Lessons</a>
                        <a href="{% url "game_list" %}" class="btn custom-btn smoothscroll mt-3 text-light mx-2 ">Games</a>
                        <a href="{% url "quiz_list" %}" class="btn custom-btn smoothscroll mt-3 text-light mx-2">Quizzes</a>
                    </div>

                 
    
            <div class="owl-carousel owl-theme">
                <div class="owl-carousel-info-wrap item">
                    <img src="{% static 'bs_template/images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg' %}"
                        class="owl-carousel-image img-fluid" alt="">

                    <div class="owl-carousel-info">
                        <h4 class="mb-2">
                           Paul Mike
                            <img src="{% static 'bs_template/images/verified/verified.png' %}" class="owl-carousel-verified-image img-fluid" alt="">
                        </h4>

                        <span class="badge">Storytelling</span>
                        <span class="badge">Business</span>
                    </div>

                    <div class="social-share">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="owl-carousel-info-wrap item">
                    <img src="{% static 'bs_template/images/profile/handsome-asian-man-listening-music-through-headphones.jpg' %}"
                        class="owl-carousel-image img-fluid" alt="">

                    <div class="owl-carousel-info">
                        <h4 class="mb-2">
                            Aaron
                            <img src="{% static 'bs_template/images/verified/verified.png' %}" class="owl-carousel-verified-image img-fluid" alt="">
                        </h4>

                        <span class="badge">Creative</span>
                        <span class="badge">Design</span>
                    </div>

                    <div class="social-share">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-pinterest"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="owl-carousel-info-wrap item">
                    <img src="{% static 'bs_template/images/profile/cute-smiling-woman-outdoor-portrait.jpg' %}"
                        class="owl-carousel-image img-fluid" alt="">

                    <div class="owl-carousel-info">
                        <h4 class="mb-2">Mark Kent</h4>

                        <span class="badge">Modeling</span>
                        <span class="badge">Fashion</span>
                    </div>

                    <div class="social-share">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-pinterest"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="owl-carousel-info-wrap item">
                    <img src="{% static 'bs_template/images/profile/man-portrait.jpg' %}"
                        class="owl-carousel-image img-fluid" alt="">

                    <div class="owl-carousel-info">
                        <h4 class="mb-2">Lucilene</h4>

                        <span class="badge">Acting</span>
                    </div>

                    <div class="social-share">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-youtube"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="owl-carousel-info-wrap item">
                    <img src="{% static 'bs_template/images/profile/woman-posing-black-dress-medium-shot.jpg' %}"
                        class="owl-carousel-image img-fluid" alt="">

                    <div class="owl-carousel-info">
                        <h4 class="mb-2">
                            Maron
                            <img src="{% static 'bs_template/images/verified/verified.png' %}" class="owl-carousel-verified-image img-fluid" alt="">
                        </h4>

                        <span class="badge">Influencer</span>
                    </div>

                    <div class="social-share">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-youtube"></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </section>
</main>


{% endblock content %}